h2 {
		margin: auto;
		text-align: center;
		font-family: 'Playfair Display', serif;
		}
		
h1 {
		margin: auto;
		text-align: center;
		font-family: 'Playfair Display', serif;
		}
		
p {
		margin: auto;
		text-align: center;
    font-family: 'Playfair Display', serif;
		}
